@import 'tailwindcss';

@theme {

  --color-smalt-50: #ebf6ff;
  --color-smalt-100: #d1ecff;
  --color-smalt-200: #aedeff;
  --color-smalt-300: #76cbff;
  --color-smalt-400: #35adff;
  --color-smalt-500: #0784ff;
  --color-smalt-600: #005dff;
  --color-smalt-700: #0044ff;
  --color-smalt-800: #0038d7;
  --color-smalt-900: #00339e;
  /* Primary */
  --color-smalt-950: #062265;

  --color-scooter-50: #eefbfd;
  --color-scooter-100: #d3f3fa;
  --color-scooter-200: #ade8f4;
  --color-scooter-300: #74d6ec;
  --color-scooter-400: #46bfde;
  /* Primary */
  --color-scooter-500: #199ec1;
  --color-scooter-600: #177fa3;
  --color-scooter-700: #1a6684;
  --color-scooter-800: #1e546c;
  --color-scooter-900: #1d475c;
  --color-scooter-950: #0d2e3f;

  --color-starship-50: #f9fcea;
  --color-starship-100: #f2f9c8;
  --color-starship-200: #ebf593;
  --color-starship-300: #e5ef55;
  --color-starship-400: #e2e735;
  /* Primary */
  --color-starship-500: #d8d51a;
  --color-starship-600: #baaa14;
  --color-starship-700: #957e13;
  --color-starship-800: #7c6317;
  --color-starship-900: #69511a;
  --color-starship-950: #3d2c0b;

  --breakpoint-1xl: 1440px;
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body,
#root {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}